<div class="container-fluid">
    <!--Main menu-->
    <div class="row">
        <app-main-menu-partial></app-main-menu-partial>
    </div>

    <!--Middle-->
    <div class="row layout-page-middle">
        <!--Content menu-->
        <div class="col-sm-3" *ngIf="showContentMenu">
            <app-content-menu-partial></app-content-menu-partial>
        </div>

        <!--Page content-->
        <div [class]="showContentMenu ? 'col-sm-9' : 'col-sm-12'">
            <ng-content></ng-content>
        </div>
    </div>

    <!--Footer-->
    <app-footer-partial></app-footer-partial>
</div>