# Temp files
build/
dist/
node_modules/
typings/

# Extra Package Manager
#bower_components/
#packages/

*.log
*.tmp
*.js.map

# Project build files
src/e5r.website.web/**/*.js
src/e5r.website.web/**/*.css

